<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="exoCnxSF">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/exos_relation</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
  <mapping class="entities.Mma"/>
  <mapping class="entities.Mmb"/>
  <mapping class="entities.Ooa"/>
  <mapping class="entities.Oob"/>
  <mapping class="entities.Oma"/>
  <mapping class="entities.Omb"/>
 </session-factory>
</hibernate-configuration>
