<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="gestcomSF">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gestcom</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<mapping class="models.Categorie"/>
		<mapping class="models.Client"/>
		<mapping class="models.Commande"/>
		<mapping class="models.Facture"/>
		<mapping class="models.Fournisseur"/>
		<mapping class="models.Livraison"/>
		<mapping class="models.Maire"/>
		<mapping class="models.Paierment"/>
		<mapping class="models.Pay"/>
		<mapping class="models.Produit"/>
		<mapping class="models.Responsable"/>
		<mapping class="models.Utilisateur"/>
		<mapping class="models.Ville"/>
    </session-factory>
</hibernate-configuration>
